<!DOCTYPE html>
<html>
  <%- include('header') -%>
  <body>
    <h1>Todo</h1>
    <h2>For User</h2>
    <div>
    <button id="participate">Create Account & Participate</button><br />
    <p>
        Your wallet Address: <input id="voteAddress" type="text" size="50"><br />
        <button id="checkVote">Check Vote</button><br />
        <span id="givenNumber"></span>
    </p>
    <p id="transactionStatus"></p>
    </div>
    <script src='javascripts/user.js'></script>
  </body>
</html>
